server {
  listen       80;
  listen  [::]:80;

  autoindex on;
  root /home/node/app;
  try_files $uri/index.html $uri.html $uri/ $uri =404;
  error_page 404 /404.html;

  gzip on;
  gzip_vary on;
  gzip_proxied any;
  gzip_comp_level 6;
  # gzip_proxied expired no-cache no-store private auth;
  gzip_types image/webp image/png text/html text/plain text/css text/xml text/javascript application/x-javascript application/javascript application/xml font/eot font/otf font/ttf;
  
  gzip_disable "MSIE [1-6]\.";

  ## All static files will be cached.
  location ~* ^.+\.(?:css|cur|js|jpe?g|gif|htc|ico|png|html|xml|otf|ttf|eot|woff|woff2|svg)$ {
    access_log off;
    expires 30d;
    add_header Cache-Control public;

    ## No need to bleed constant updates. Send the all shebang in one
    ## fell swoop.
    tcp_nodelay off;

    ## Set the OS file cache.
    open_file_cache max=3000 inactive=120s;
    open_file_cache_valid 45s;
    open_file_cache_min_uses 2;
    open_file_cache_errors off;
  }
}
