/* *
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Geist Sans Font (similar to next-hat.com) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
}

html, body {
  font-family: var(--font-sans);
}

code, span {
  white-space: pre;
}

table {
  display: flex;
  flex-direction: column;
  border: 0px !important;
  min-width: 100%;
  border-spacing: 0px;
  overflow-x: hidden;
}

thead {
  overflow: visible;
  border: 0px !important;
}

thead tr {
  overflow: visible;
  display: flex;
  flex: 1;
}

table thead tr {
  border-bottom: 0px;
  border-top: 0px;
}

tbody {
  overflow: visible;
  width: 100%;
  flex-direction: column;
  border: 0px !important;
  min-width: 100%;
}

tbody tr {
  display: flex;
  flex: 1;
}

th, td {
  width: 100%;
  border: 0px !important;
  padding: 7px 10px 7px 10px;
  word-break: break-word;
  hyphens: auto;
}

tr {
  font-size: 14px;
}

th {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  border: 0px !important;
}

/* You can override the default Infima variables here. */
:root {
  /* Font */
  --ifm-font-family-base: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
  --ifm-font-family-monospace: 'IBM Plex Mono', SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  --ifm-heading-font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
  /* Text */
  --ifm-color-primary: #ff9800;
  --ifm-color-primary-dark: #df8013;
  --ifm-color-primary-darker: #c46f0f;
  --ifm-color-primary-darkest: #7e4e17;
  --ifm-color-primary-light: #ffb340;
  --ifm-color-primary-lighter: #ffc165;
  --ifm-color-primary-lightest: #ffc46b;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  /* Text */
  --ifm-color-primary: #ff9800;
  --ifm-color-primary-dark: #df8013;
  --ifm-color-primary-darker: #c46f0f;
  --ifm-color-primary-darkest: #7e4e17;
  --ifm-color-primary-light: #ffb340;
  --ifm-color-primary-lighter: #ffc165;
  --ifm-color-primary-lightest: #ffc46b;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;  
}